@font-face {
    font-family: 'Magmawave Caps';
    src: url('MagmawaveCaps-Bold.woff2') format('woff2'),
        url('MagmawaveCaps-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}